<html>
  <%- include('partials/_header') %>
  <body>
    <!-- header section star -->
    <%- include('partials/_menu') %>
    <!-- header section end -->

    <!-- about us start -->
    <section class="about">
      <h1 class="heading">about <span>us</span></h1>
      <div class="row">
        <div class="image"><img src="images/about-us.jpg" alt="about" /></div>
        <div class="content">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
            ullam laudantium adipisci, et ducimus nihil, porro repudiandae qui
            quam, aliquid officiis velit dignissimos? Soluta sit officiis
            recusandae at. Molestiae, officiis.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
            ullam laudantium adipisci, et ducimus nihil, porro repudiandae qui
            quam, aliquid officiis velit dignissimos? Soluta sit officiis
            recusandae at. Molestiae, officiis.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
            ullam laudantium adipisci, et ducimus nihil, porro repudiandae qui
            quam, aliquid officiis velit dignissimos? Soluta sit officiis
            recusandae at. Molestiae, officiis.
          </p>
          <a href="#" class="btn">Learn more</a>
        </div>
      </div>
    </section>
    <!-- about us end -->

    <!-- footer star -->
    <%- include('partials/_footer') %>
    <!-- footer end -->
  </body>
</html>
