<html>
  <%- include('partials/_header') %>
  <body>
    <!-- header section star -->
    <%- include('partials/_menu') %>
    <!-- header section end -->

    <!-- home section start -->
    <section class="home">
      <div class="content">
        <h3>Rent Now, Hit the Road!</h3>
        <p>
          Discover the freedom of the open road with our hassle-free car rental service. Whether you're planning a weekend getaway or need a reliable ride for your daily commute, we have the perfect vehicle for you. 
        </p>
        <a href="/advert" class="btn">Rent Now</a>
      </div>
    </section>

    <!-- home section end -->

    <!-- category start -->

    <%- include('category.ejs') %>

    <!-- category end -->

    <!-- footer star -->
    <%- include('partials/_footer') %>
    <!-- footer end -->
  </body>
</html>
