<html>
  <%- include('partials/_header') %>
  <body>
    <!-- header section star -->
    <%- include('partials/_menu') %>
    <!-- header section end -->
    <!-- succeed page start -->
    <section class="succeed">
      <div class="container">
        <i class="fa-solid fa-check"></i>
        <p>Your Reservation Has Been Created</p>
        <div class="buttons">
          <a href="/">Home Page</a>
          <a href="/users/reservation">My Reservation</a>
        </div>
      </div>
    </section>
    <!-- succeed page end -->
  </body>
</html>
